# Kotlin modules
META-INF
*.kotlin_module

# Kotlin/JVM binary files
*.class
*.jar
output

# Kotlin/Native binary files
*.klib
*.kexe

# Kotlin/JS binary files
*.js

# IntelliJ IDEA Config Files
.idea
